@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
/* Mobile first */
body {
    background-color: #ffffff;
    margin: 20px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto auto auto;
    grid-template-areas:
    "topHeader"
    "navigation"
    "movingBanner"
    "main-content"
    "footer";
    grid-gap: 15px;
}

.imgSubPages {
    max-width: 100%;
    height: auto;
}

marquee{
    grid-area: movingBanner;
    width: 100%;
    height: auto;
    marquee-loop: infinite;
    animation-direction: normal;
    font-family: 'Merriweather', serif;
    font-size: large;
    font-weight: bolder;
}

header {
    grid-area: topHeader;
    background-color: #9E1515;
    /*padding: 2px;*/
    color: white;
    text-align: center;
    font-size: 30px;
}

nav {
    grid-area: navigation;
    background-color: #9E1515;
}

nav.nav_list {
    padding: 5px;
    margin-bottom: 10px;
    /*background-color: #000000;*/
    background-color: #9E1515;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 7px;
}

a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    /*background-color: #9E1515;*/
    background-color: #F7656C;
}

main article {
    background-color: #ffffff;
    padding: 20px;
}

footer {
    grid-area: footer;
    padding: 20px;
    color: #ffffff;
    background-color: #9E1515;
}

form {
    background-color: white;
    padding: 16px;
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.4;
}
.warning{
    color: red;
}
.imgcontainer {
    background-color: white;
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
span.psw {
    display: block;
    float: none;
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    main {
        grid-template-columns: 1fr 1fr;
    }
    body {
        background-color: #F7656C;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {

    body {
        background-color: #F7656C;
    }

    section.grid-container {
        width: 1000px;
        margin: 15px auto;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    main#subPages {
        grid-template-columns: 1fr;
    }

    nav.nav_list {
        text-align: start;
    }

    nav.nav_list ul li {
        display: inline;
        padding: 10px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }
}

